
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #9496d5, #5d76da);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h2{
    color: #6e8efb;
    text-align: center;
}
form {
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 350px;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}


label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
    text-align: left;
}


input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: 0.3s;
}

input:focus {
    border-color: #6d6fce;
    outline: none;
    box-shadow: 0 0 8px rgba(87, 126, 218, 0.5);
}


button {
    background:  #6e8efb;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    transition: 0.3s;
}

button:hover {
    background:  rgb(73, 82, 113);
}

/* تأثير Fade In */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
